body {

    background-image: url('../resimler/giris-arka-resim.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    display: grid;

}

#frm {
    /* background-color: aqua; */

    margin-top:15%  ;
    padding:0 1% ;
}
