.form-kisim1 {
    background-color: blanchedalmond;
    border-bottom: 1px solid black ;
}

.form-kisim2 {
    background-color: deeppink;
    border-bottom: 1px solid black;
}

.form-kisim3 {
    background-color: gainsboro;
    border-bottom: 1px solid black;
}

.form-kisim4 {
    background-color: chartreuse;
    border-bottom: 1px solid black;
}

.form-kisim5 {
    background-color: rgb(61, 151, 151);
    border-bottom: 1px solid black;
}

.form-kisim6 {
    background-color: rgb(222, 222, 222);
    border-bottom: 1px solid black;
}

.form-kisim7 {
    background-color: rgb(191, 88, 109);
    border-bottom: 1px solid black;
}


